### Задание 1 (Numpy)

Импортируйте библиотеку Numpy и дайте ей псевдоним np.

In [203]:
import numpy as np

Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7.

In [204]:
A = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
A

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [205]:
mean_a = A.mean(axis=0)
mean_a

array([2. , 8.4])

### Задание 2  (Numpy)

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [206]:
a_centered = np.subtract(A, mean_a).copy()
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

### Задание 3  (Numpy)

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [207]:
trs_a_centered = np.transpose(a_centered).copy()
a_centered_sp = np.dot(trs_a_centered[0], trs_a_centered[1])
a_centered_sp / (A.shape[0] - 1)

2.0

### Задание 4  (Numpy)

Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 3 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
Подробнее узнать о ковариации можно здесь:
Выборочная ковариация и выборочная дисперсия — Студопедия
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [208]:
A_cov = np.cov(np.transpose(A))
A_cov[0][1]

2.0

### Задание 1 (Pandas)

Импортируйте библиотеку Pandas и дайте ей псевдоним pd.

In [209]:
import pandas as pd

Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

In [210]:
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [211]:
book = pd.DataFrame({
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
})
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2 (Pandas)

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [212]:
authors_price = pd.merge(authors, book, on="author_id", how="inner")
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3 (Pandas)

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [213]:
top5 = authors_price.sort_values(by="price", ascending=False).iloc[:5].reset_index(drop=True)
top5

   author_id author_name         book_title  price
0          2       Чехов   Толстый и тонкий    500
1          1    Тургенев        Отцы и дети    450
2          2       Чехов    Дама с собачкой    450
3          3  Островский              Гроза    370
4          1    Тургенев  Дворянское гнездо    350

### Задание 4 (Pandas)

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора.

In [214]:
authors_stat = authors_price.groupby("author_name")
authors_stat = authors_stat.agg({"price": ["min", "max", "mean"]})
authors_stat = authors_stat.rename(columns={"min": "min_price", "max": "max_price", "mean":"mean_price"})
authors_stat

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000

### Задание 5 (Pandas)

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

In [215]:
authors_price["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

Просмотрите документацию по функции pd. с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

In [219]:
book_info = authors_price.drop(columns="author_id").copy()
book_info = pd.pivot_table(book_info,
                           index=['author_name', 'cover'],
                           fill_value=0,
                           dropna=False,
                           aggfunc=np.sum)
book_info

                     price
author_name cover
Островский  мягкая     660
            твердая      0
Тургенев    мягкая     650
            твердая    450
Чехов       мягкая       0
            твердая    950

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl".

In [217]:
import pickle
with open('data.pickle', 'wb') as f:
    pickle.dump(book_info, f)
    
book_info2 = None
book_info2

Затем загрузите из этого файла датафрейм и назовите его book_info2.

In [218]:
with open('data.pickle', 'rb') as f:
    book_info2 = pickle.load(f)
book_info2

                     price
author_name cover
Островский  мягкая     660
            твердая      0
Тургенев    мягкая     650
            твердая    450
Чехов       мягкая       0
            твердая    950

Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [220]:
book_info == book_info2

                     price
author_name cover
Островский  мягкая    True
            твердая   True
Тургенев    мягкая    True
            твердая   True
Чехов       мягкая    True
            твердая   True